#DateSelect {
  margin-top: 4px;
  .mantine-15qiebd {
    margin: 0px;
  }
  .mantine-Grid-root {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .d-flex {
    display: flex;
  }
  .group {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    .w-80 {
      width: 80%;
    }
  }
}
@media screen and (max-width: 768px) {
}
